#imp {animation-name: example3;
  animation-duration: 5s;
  animation-iteration-count: infinite;}
@keyframes example3 {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:purple;}
  100% {color:red;}
}
body {
  background-image: url("geen2.png");
  background-size: 50px;
  }
  
h1{font-family: 'Brush Script MT', cursive;
font-size: 60px;}  
  

.dv {
background-color: #ffffff;
border: ridge;
border-width: 10px;
border-bottom-color: #737777;
}

.title {
background-color: blue;
text-align: center;
color: white;


}
